body{
    
    background: url(/static/images/2.png );
    
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    font-family: monospace;
    overflow: hidden;
    overflow-y:auto;
    /* text-align: center; */
}
nav{
    display: flex;
    justify-content: end;
    background:linear-gradient(45deg,rgb(231, 171, 4),#f5de14) ;
    margin: -10px;
    border-bottom: 3px solid  rgb(205, 224, 28);
    box-shadow:0px 20px 19px rgb(43, 40, 40);
}
nav a{
    margin:17px 50px 10px 0px ;
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    color: #ffb874;
    background-color: #f2e4d7;
    padding: 0px 30px;
    border-radius: 10px;
}
.home{
    width: 86px;
    text-align: center;
}



.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto 0 auto;
    width: 40%;
    color: rgb(247, 243, 236);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(205, 224, 28);
    border-radius: 20px;
    padding: 20px;
    height: 20vh;
}
.up{
    backdrop-filter: blur(5px);
    padding: 8px;
    border-radius: 10px;
    border: 3px solid  rgb(205, 224, 28);
    color: rgb(205, 224, 28);
}
.submit{
    padding: 8px;
    margin-top:4px ;
    background-color: yellow;
    border-radius: 10px;
    border: 3px solid  rgb(205, 224, 28);
    width: 20vw;
}


.result{
    display: block;
    width: 92%;
    height: fit-content;
   
    backdrop-filter: blur(5px);
    border: 2px solid rgb(205, 224, 28);
    border-radius: 20px;
    padding-top: 40px;
    text-align: center;
    margin:  auto ;
    margin-top: 3vh;
    margin-bottom: 20vh;
}
.result img{ 
  display: block;
  min-width: 30%;
  height: 24vh;
  border-radius: 10px;
  margin: 0 auto;
}

.result h1{
    margin-left: 1vw;
    margin-top: -5px;
}
.info  {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.para{
    width: 90vw;
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
    color: #c9680d;
    /* columns: 200px 2;
    column-gap: 20px; */

}

.predict{
    display: block;
    color: rgb(238, 242, 245);
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    text-align: center;
}
.empty{
    height: 20px;
    width: 30px;
}
/* .para{
    color:#0000;
    width: auto;
    margin:20px 20px;
    overflow: hidden;
    background: linear-gradient(-90deg,#00dffc 5px,#0000 0) 10px 0,linear-gradient(#00dffc 0 0)0 0;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box,text;
    background-clip: padding-box,text;
    background-repeat: no-repeat;
    border-right: 5px solid;
    font-family: monospace;
    columns: 200px 2;
    column-gap: 30px;
    animation: b .2s infinite steps(1),t calc(var(--n)*.1s) steps(var(--n)) forwards;

}
@keyframes t{
    from {background-size: 0 200% }
}
@keyframes b{
   
    50% {background-position: 0 -100%,0 0}
} */

@media screen and (max-width:400px) {
    body{
        background-image: url(/static/images/hand.jpeg);
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        background-size: cover;
        /* background-repeat: no-repeat; */
    }
    nav{
        background:transparent;
        display: block;
        backdrop-filter: blur(20px);
        border: none;
        width: 50vw;
        margin-left: 20px;
        margin-top: 20px;
        /* box-shadow: none; */
        padding: 0px 20px 10px 10px;
        text-align: start;
        border:2px solid #f5de14;
        border-radius: 20px;
    }
    nav a{
        background: transparent;
        
    }
    nav a p{
        /* background-color: red; */
        width: 100%;
        height: fit-content;
        font-size: 1.5rem;
        margin-bottom: -20px;
        color: #f5de14;
        text-align: start;

    }
    .home{
        text-align: start;
    }
    #google_translate_element{
        margin-top: 30px;
        margin-left: 24px;
    }
    .upload{
        /* display: flex;
        margin:0 auto; */
        text-align: center;
        width: 80vw;
        margin-top: 13vh;
       }
       .submit{
        width: 100%;
       }
}