body{
    
    background: url(/static/images/2.png );
    
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    font-family: monospace;
    overflow: hidden;
    overflow-y:auto;
    /* text-align: center; */
}
nav{
    display: flex;
    justify-content: end;
    background:linear-gradient(45deg,rgb(231, 171, 4),#f5de14) ;
    margin: -10px;
    border-bottom: 3px solid  rgb(205, 224, 28);
    box-shadow:0px 20px 19px rgb(43, 40, 40);
}
nav  a{
   
    text-decoration: none;
    width: 180px;
    margin-right: 60px;
}
.home{
    width: 180px;
    height: 60px;
    text-align: center;
    background-color: #f2e4d7;
    color: rgb(231, 171, 4);
    margin:17px 50px 10px 0px ;
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    border: none;
    padding: 0px 30px;
    border-radius: 10px;

}
.home:hover{
    background-color: rgb(231, 171, 4);
    color: #f2e4d7;
    
}

.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto 0 auto;
    width: 40%;
    color: rgb(247, 243, 236);
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid #f5de14;
    border-radius: 20px;
    padding: 20px;
    height: 20vh;
}
.up{
    backdrop-filter: blur(5px);
    padding: 8px;
    border-radius: 10px;
    border: 3px solid  #f5de14;
    width: 92%;
    color: rgb(231, 171, 4);
}
.submit{
    padding: 8px;
    margin-top:4px ;
    background-color: #f5de14;
    border-radius: 10px;
    border: 3px solid  #f5de14;
    width: 100%;
}


.result{
    display: block;
    width: 92%;
    height: fit-content;
   
    backdrop-filter: blur(5px);
    border: 2px solid #f5de14;
    border-radius: 20px;
    padding-top: 40px;
    text-align: center;
    margin:  auto ;
    margin-top: 3vh;
    margin-bottom: 20vh;
}
.result img{ 
  display: block;
  min-width: 30%;
  height: 24vh;
  border-radius: 10px;
  margin: 0 auto;
}

.result h1{
    margin-left: 1vw;
    margin-top: -5px;
}
.info  {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.para{
    width: 90vw;
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
    color:yellowgreen;
    /* columns: 200px 2;
    column-gap: 20px; */

}

.predict{
    display: block;
    color:#f2e4d7;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    text-align: center;
}
.solution{
    background-color: #f5de14;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
}
.empty{
    height: 20px;
    width: 30px;
}
/* .para{
    color:#0000;
    width: auto;
    margin:20px 20px;
    overflow: hidden;
    background: linear-gradient(-90deg,#00dffc 5px,#0000 0) 10px 0,linear-gradient(#00dffc 0 0)0 0;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box,text;
    background-clip: padding-box,text;
    background-repeat: no-repeat;
    border-right: 5px solid;
    font-family: monospace;
    columns: 200px 2;
    column-gap: 30px;
    animation: b .2s infinite steps(1),t calc(var(--n)*.1s) steps(var(--n)) forwards;

}
@keyframes t{
    from {background-size: 0 200% }
}
@keyframes b{
   
    50% {background-position: 0 -100%,0 0}
} */

@media screen and (max-width:430px) {
    body{
        background-image: url(/static/images/2.png);
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        background-size:auto;
        margin: 0;
        /* background-repeat: no-repeat; */

    }
    nav{
    
        flex-direction: column;
        align-items: end;
        height: auto;
        width: 100vw;
        overflow-x: hidden;
        justify-content: space-around;
        padding: 10px;
    }
    #start{
        display: none;
    }
    #entry{
        margin-right: 18px;

    }
    .upload{
        overflow-x: hidden;
        width: 80%;
        display: block;
        margin:10vh auto;
    }
    

}
