<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <nav>
        <a href="/"><p class="home">Home</p></a>
        <a href="result"><p>Get Started </p></a>
        </nav>
    <div class="main">
    <div class="welcome">
        <h2 id="come"></h2>
    </div>
    <div class="block"> 
        <img src="static\images\hand.jpeg" alt="efe">
    </div>
</div>
    <script src="static/css/index.js"></script>
    <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="u-uQDUgrLhinwHMGJOtHA"
  domain="www.chatbase.co"
  defer>
  </script>
</body>
</html>