<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="static\images\hand.jpeg">
    <link rel="icon" type="image/png" sizes="32x32" href="static\images\hand.jpeg">
    <link rel="icon" type="image/png" sizes="16x16" href="static\images\hand.jpeg">
    <link rel="manifest" href="static/css/site.webmanifest">
    <title>padDDy</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div id="loading">
    <img src="static\images\gif.gif" alt="loading" loop="infinite">
    <h4>Loading.....</h4>
  </div>
<div class="main">
  <nav>
    <a href="/" id="entry"> <button class="home"> Home</button></a>
    <a href="result" id="start"><button class="home">Get Started</button></a>
   </nav>

  <div id="google_translate_element"></div>
    <div class="block">
  <div class="upload"> 
     <h2>Upload an Image</h2>
    <form method="post" enctype="multipart/form-data" action="{{url_for('submit')}}">
       <input type="file" name="uploaded-img" class="up"> 
       <input type="submit" value="Upload" class="submit">
    </form>
  </div>
<!--     {% if img %} -->
  <div class="result"> 
     
    <img src="{{img}}" alt="kgkg">
    
      
      <div class="info">
        {%if prediction=="Brown spot" %}
        <div class="predict" >
          <span><span>Prediction:</span>{{prediction}}</span>
        </div >
      <p class="para" > </p>
      <button onclick="typewriter()" class="solution">Get Solution</button>
        {% else %}
        {% if prediction=="Bacterial leaf blight"%}
        <div class="predict" >
          <span><span>Prediction:</span>{{prediction}}</span>
          
        </div >
        <p class="para" > </p>
        <button onclick="typewriter1()" class="solution">Get Solution</button>

        {% else %}
        {% if prediction=="Leaf smut"%}
        <div class="predict" >
          <span><span>Prediction:</span>{{prediction}}</span>
          
        </div >
          <p class="para" ></p>
          <button onclick="typewriter2()" class="solution">Get Solution</button>

        {% endif %}
        {%endif%}
      </div>

      {%endif%}
    
    
<!--     {% endif %} -->
    

    </div>
</div>
<div class="empty"></div>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement(
          {pageLanguage: 'en'},
          'google_translate_element'
      );
  }
  </script>
    <script type="text/javascript"
    src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
</script>
<script>
  window.embeddedChatbotConfig = {
  chatbotId: "u-uQDUgrLhinwHMGJOtHA",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="u-uQDUgrLhinwHMGJOtHA"
  domain="www.chatbase.co"
  defer>
  </script>
<script src="static/css/index.js">
  
</script>
</body>
</html>
